html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Advent Pro', sans-serif;
  /* font-family: 'Dancing Script', cursive; */
  padding: 0;
  margin: 0;

}

ul{
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
h2{
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}

a{
  text-decoration: none;
  color: black;

}


/* *******************************************NAVBAR******************************************* */

header nav{
  overflow: hidden;
  background-color: antiquewhite;
  position: fixed;
  width: 100%;
  opacity: 0.9;

}

header li{
  float: right;
  font-size: 1.2em;

}

header li a{
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}

#logo{
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  float: left;

}

/* *******************************************IMAGE PRINCIPALE******************************************* */

#imagePrincipale{
  padding-top: 60px;
  background: url(media/image-principale.JPG) no-repeat fixed 50% 50%;
  background-size: cover;
  height: 799px;
}

h1{
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: antiquewhite;
  font-size: 6em;
  margin-top: 110px;
  text-shadow: 1px 3px 2px black;

}

#premierTrait{
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: antiquewhite;
  box-shadow: 1px 3px 2px black;

}

h3{
  text-align: center;
  color: antiquewhite;
  font-size: 3em;
  text-shadow: 1px 3px 2px black;

}

/* *******************************************PRESENTATION******************************************* */

#presentation{
  background-color: antiquewhite;
  padding: 10px 0px 100px 0px;
}

#texteIntro{
  padding: 0 20%;

}

#prestations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;

}

.imagesPrestations h4{
  font-family: 'Dancing Script', cursive; 
  text-align: center;
  font-size: 1.8em;
  margin: 15px;
  font-weight: 300;
}

.imagesPrestations img{
  border-radius: 10px;
  box-shadow: 5px 8px 5px 4px black;

}

.imagesPrestations img:hover{
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

/* *******************************************TOURISM******************************************* */

#tourisme{
  height: 1400px;
  background-color: antiquewhite;
  padding: 1px 2%;
}
#tourisme h2{
  padding-top: 60px;
}

#ocean{
  background: url(media/ocean.jpg);
}
#chateau{
  background: url(media/chateau.jpg);
}
#phare{
  background: url(media/phare.jpg);
}
#vignoble{
  background: url(media/vignes.jpg);
}

#tourisme li{
  margin: 65px 100px 0 100px;
  height: 226px;
  width: 55%;
  max-width: 550px;
  float: left;
  box-shadow: 6px 6px 28px -1px black;
}

#tourisme p{

  height: 45px;
  width: 235px;
  background-color:aliceblue;
  float: right;
  margin: 200px -20px 0 0;
  font-size: 1.5em;
  text-align: center;
  padding-top: 15px;
  box-shadow: 2px 2px 8px -1px black;

}
#tourisme #chateau, #tourisme #vignoble{
  float: right;
}

/* *******************************************FOOTER******************************************* */

footer{
  background-color: #524A3A;
  color: aliceblue;
  padding: 20px 0px ;
  text-align: center;
}
form{
  margin: 0 auto;
  max-width: 900px;
}

input, textarea, button{
  border: none;
  width: 55%;
  padding: 15px 10px;
  margin: 1px 0;
  font-size: 1.2em;
  font-family: 'Advent Pro', sans-serif;
  border-radius: 3px;
}

button{
  font-size: 1.5em;
  background-color: bisque;
}

button:hover{
  color: bisque;
  background-color: #e55039;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#deuxiemmeTrait{
  height: 1px;
  width: 75%;
  background-color: aliceblue;
  margin: 60px auto;
}

#copyrightEtIcons{
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;

}
#copyright {
  width: 50%;
  text-align: left;
  color: aliceblue;
}
#icons{
  width: 50%;
  text-align: right;
}

#icons a{
  display: inline-block;
  margin: 0 15px;
  font-size: 1.3em;
  color: aliceblue;
}

#icons a:hover{
  transform: scale(1.5);
  transition: 0.2s;
  box-shadow: 2px 2px 8px -1px black;

}

#icons .facebook:hover{
  color: #3b5998 ;

}
#icons .twitter:hover{
  color: #00acee ;

}
#icons .instagram:hover{
  color: #EA5853 ;

}

